h1{
  text-align: center;
}

#withdraw-button {
  float:right;
}
h3{
  text-align: center;
}
 .card{
   height: 200px;
   margin-bottom: 10px;
 }

#current-balance{
  text-align: center;
  font-size: 40px;

}
